/* resources/css/modules/sales/sales-styles.css */

@import "./layout.css";
@import "./compact-select.css";
@import "./shortcuts.css";

/* Aquí podrías añadir estilos que solo existan en este módulo 
   y que no merezcan un archivo aparte */
